.wrapper {
    grid-area: main;
    padding-left: 15px;
    padding-right: 15px;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

p:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBlock img {
    background-color: rgb(175, 216, 216);
    width: 100px;
    height: 100px;
    border: 2px solid gainsboro;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.infoBlock img:hover {
    transform: scale(1.1);
}