.wrapper {
    isolation: isolate;
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: rgb(36, 40, 38);
    border-bottom: 5px solid hsla(59, 100%, 49%);
    color: white;
    list-style: none;
}

.navbar {
    min-height: 80px;
    min-width: max-content;
    /* max-width: 1200px; */
    display: grid;
    gap: 0px 5px;
    grid-template-columns: repeat(auto-fill, min(88px, 1fr));
    /* align-items: center;
    justify-content: center; */
}


.navbar > li {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 3px;
    list-style: none;
    padding: 10px 5px;
    color: rgb(255, 255, 255);    
}

.navbar > li:last-of-type {
}

.navbar > li svg {
    display: inline;
    /* float: bottom; */
    align-self: flex-end;
    vertical-align: middle;
    width: 35px;
    height: 35px;
}

.navbar > li:hover {
    color: yellowgreen;
}
