.submenu {
    padding: 0px 0px 0px 0px;
    /* width: max-content; */
}

.container {
    position: absolute;
    left: -40%;
    top: 90%;
    /* margin-top: 10px; */
    width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 68, 68);
    padding: 15px 20px 15px 20px;
    border: 2px solid red;
}

.strongTitle {
    font-size: 50px;
}

.submenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.submenu strong {
    font-size: 20px;
    margin-bottom: 10px;
}

.submenu li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin-bottom: 5px;
}

.submenu li:hover {
    color: white;
    transform: scale(1.1);
    text-decoration: underline;
}