.link {
    border: 1px solid white;
    min-width: max-content;
    z-index: 5;
}

.home {
    display: grid;
    place-content: center;
}

.search {
    min-width: 150px;
    border: 2px solid white;
    min-width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search label {
    margin-right: 10px;
}

